# This workflow will install the dependencies and then build and deploy the
# TypeScript documentation website to the docs branch.

# This file is auto-synced from product-os/jellyfish-config/sync/.github/workflows/publish-docs.yml
# and should only be edited there!

name: Publish Documentation

on:
  push:
    tags:
      - "*"

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@7c12f8017d5436eb855f1ed4399f037a36fbd9e8 # v2
        with:
          node-version: "14"

      - name: Install NPM dependencies
        run: npm i

      - name: Generate docs
        run: npm run doc

      - name: Publish generated docs to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
          publish_branch: docs
